<!--The content below is only a placeholder and can be replaced.-->
<div class="align-center">
  <h2>User Login portal</h2>
  <form>
    <input placeholder="Email Id" type="text" name="email" #username required="true"/>
    <input
      placeholder="Password" type="password" name="password"  #password required="true"/>

    <div class="btn-div">
      <button type="button" class="button" (click)="insertData(username.value , password.value)" [disabled]="" class="login-btn">
        Login
      </button>
    </div>
  </form>
 <i>{{ message }}</i>
</div>
